.hero {
  background-color: #e0f9d2;
  display: flex;
  height: 42vh;
  align-items: center;
}

.hero-heading {
  margin-left: 2rem;
}

.hero-link {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  color: white;
  background-color: #6e9144;
  text-decoration: none;
  font-size: 0.9rem;
}

.hero-img {
  object-fit: cover;
  height: 42vh;
  width: 60vw;
  margin-left: auto;
}

.white {
  color: white;
}
