.login-card {
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
  border: 2px solid rgba(0, 0, 0, 0.2);
  max-width: 500px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  background-color: white;
}

.login-label {
  font-size: larger;
}

.login-header {
  text-align: center;
  font-size: xx-large;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.login-input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  height: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  border: none;
}

.btn-test-user {
  align-items: center;
  margin: 0;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 540px) {
  .login-card {
    max-width: 380px;
  }
}
