.categories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.home-info {
  padding: 1vw 10vw;
}

.home-popular-products {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
  /* border: solid; */
  position: relative;
  /* height: 500px; */
  overflow: scroll;
}

.home-bestselling-products {
  margin-top: 2rem;
  /* border: solid; */
  justify-content: space-around;
  gap: 3rem;
  position: relative;
  /* height: 250px; */
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.btn-see-all {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

@media screen and (max-width: 940px) {
  .home-info {
    /* padding: 1vw 10vw; */
    padding: 0.5rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .home-info {
    /* padding: 1vw 10vw; */
    padding: 1rem;
  }
}
