.listing {
  /* padding: 2rem; */
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "filters products products";
}

.filters {
  grid-area: filters;
}

.products {
  grid-area: products;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
