.category-card {
  margin: 1rem;
  padding: 0.6rem;
  height: 100px;
  width: 120px;
  background-color: #f1f1f1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.category-card-description {
  color: #5f5e5e;
  text-align: center;
}
