.account-outer-container {
  max-width: 550px;
  margin: auto;
  margin-top: 1.5rem;
  position: relative;
}

.account-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.account-headers {
  display: flex;
  width: 100%;
}

.account-header-profile {
  font-size: x-large;
  width: 50%;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.account-header-address {
  width: 50%;
  font-size: x-large;
  padding: 1.5rem;
  background-color: #ff9407;
  border: none;

  color: white;
}

.account-info {
  max-height: 500px;
  overflow-y: auto;
  padding: 1rem;
  background-color: white;
}

.btn-logout {
  position: absolute;
  top: 0.3rem;
  right: 0;
  font-size: medium;
}

.account-heading {
  font-size: xx-large;
}
