.original-price {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: line-through;
}

.cart-item-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
}

.cart-item-quantity {
  border: 1px solid;
  padding: 0rem 0.5rem;
}

.cart-item-product-image {
  height: 190px;
  width: 250px;

  object-fit: cover;
}

.cart-item-wishlist-icon {
  position: absolute;
  font-size: 1.2rem;
  top: 1rem;
  left: 1.2rem;
  color: var(--primary-color);
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .cart-item-card {
    flex-direction: column;
    align-items: center;
  }

  .btn-remove-from-cart {
    margin-top: 1rem;
  }
}
