.original-price {
  color: rgba(0, 0, 0, 0.1);
  margin-left: 0.1rem;
  text-decoration: line-through;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  max-height: 315px;
  width: 220px;
  padding: 0.5rem 1.5rem;
  position: relative;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  background-color: white;
}

.product-card-info {
  height: 100%;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.position-relative {
  position: relative;
}

.product-card-rating {
  color: white;
  background-color: hotpink;
  border-radius: 0.2rem;
  padding: 0.2rem;
  position: absolute;
  bottom: 0px;
  font-size: 0.75rem;
}

.product-price {
  font-size: 1.2rem;
}

.product-image {
  width: 100%;
}

.product-quan {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.product-discount {
  background-color: #538cee;
  position: absolute;
  top: 0;
  padding: 0.1rem;
  color: white;
  width: 2.2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.product-title {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.red {
  color: red;
}

.orange {
  color: #ff9407;
}
.wishlist-icon {
  position: absolute;
  font-size: 1.2rem;
  top: 1rem;
  right: 1.2rem;
  color: var(--primary-color);
}

.product-btn-cart {
  position: absolute;
  bottom: 5px;
  right: 0;
  border: 1px solid var(--primary-color);
}

.organic-stamp {
  position: absolute;
  bottom: 120px;
  right: 10px;
  border-radius: 50%;
}
