.nav {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  grid-area: nav;
  position: sticky;
  z-index: 10;
  top: 0;
}

.nav-right-part {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
}

.nav-auth {
  margin-left: 2rem;
}

.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.bg-orange {
  background-color: #ff9407;
}

.superscript {
  position: relative;
  bottom: 0.3rem;
}

.search-conatainer {
  position: relative;
}

.search-bar {
  padding: 0.5rem 0.5rem;
  width: 40vw;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid #6e9144;
}

.search-result {
  position: absolute;
  display: flex;
  max-height: 300px;
  width: 40vw;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  border-left: 1px solid #6e9144;
  border-bottom: 1px solid #6e9144;
  border-right: 1px solid #6e9144;
  z-index: 20;
  overflow: scroll;
}

@media screen and (max-width: 940px) {
  .nav {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    grid-area: nav;
  }

  .search-bar {
    /* width: 80%; */
    width: 70vw;
    padding: 0.5rem;
  }

  .search-result {
    width: 70vw;
    z-index: 20;
  }

  .nav-right-part {
    display: flex;
    text-align: right;
    margin-top: 1rem;
  }

  .nav-logo {
    align-self: flex-start;
  }

  .nav-auth {
    position: absolute;
    top: 1.3rem;
    right: 0.5rem;
  }
}
