.nav {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.2); */
  justify-content: space-between;
  padding: 1rem;
  grid-area: nav;
}

.nav-link {
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 768px) {
  .nav {
    display: block;
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding: 1rem;
    grid-area: nav;
  }

  .search-bar {
    width: 100%;
  }

  .nav-right-part {
    text-align: right;
  }

  .nav-logo {
    text-align: center;
  }
}
